#ios
inapp-voice/Pods/
inapp-voice/Dependencies/
inapp-voice/*.ipa
inapp-voice/*.hmap
inapp-voice/.build/
inapp-voice/fastlane
inapp-voice/inapp-voice/GoogleService-Info.plist
.DS_Store

AppStore_com.vonage.inapp-voice-ios.mobileprovision
Gemfile
Gemfile.lock
inapp-voice.app.dSYM.zip
Z4CN899F27.cer

#android
inapp-voice-android/.gradle/
inapp-voice-android/build/
inapp-voice-android/app/google-services.json

#server
backend/node_modules/
backend/key/
backend/.env
backend/neru.yml
